li a {
    color: green;
    background-color: blanchedalmond;
}

body {
    background: white url("https://s0.smartresize.com/wallpaper/665/168/HD-wallpaper-ivan-with-names-horizontal-text-ivan-name-blue-neon-lights-with-ivan-name-thumbnail.jpg");
}
